/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { line-height: 1.5; min-height: 100vh }
@media (max-width: 767px ) { body { text-rendering: optimizeSpeed } }
@media (min-width: 768px ) { body { text-rendering: optimizeLegibility } }
img { width: 100%; height: auto; display: block }
input, button, textarea, select { font: inherit }


/* Header styles */
header {
    text-align: center; /* Centraliza o texto no cabeçalho */
    margin-bottom: 20px; /* Espaçamento abaixo do cabeçalho */
}

h1 {
    font-size: 2.5rem; /* Tamanho da fonte do cabeçalho */
    color: var(--red-600); /* Cor do texto */
}


body {
    background-color: #8A9A5B; /* Verde musgo claro */
    color: #ffffff; /* Cor do texto em branco */
}

h1, h2, h3 {
    color: #ffcc00; /* Cor dos títulos em amarelo */
}

p {
    color: #ffffff; /* Cor do texto dos parágrafos em branco */
}


h1 {
    font-size: 84px;
    text-align: center;
    font-weight: normal;
    letter-spacing: -2px;
    margin-bottom: 32px;
    
    
}
 /* Any particular value? 16px maybe? Or perhaps 64px? */
h2 {
    font: size 24px;
    
}

h3 {
    font-weight: bold;
    
}

p { font-family: sans-serif; 
    font-size: 16px; 
    margin-bottom: 12px 
}
